.contact-list {
    list-style: none;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
}

.contact-list__link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.contact-list__adr {
    width: 345px;
    margin-bottom: 36px;
    padding-left: 70px;
    background-image: url('../img/location.svg');
    background-position: left center;
    background-repeat: no-repeat;
}

.contact-list__item-tel::before {
    content: '';
    background-image: url('../img/phone-call.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 28px;
}

.contact-list__item-mail::before {
    content: '';
    background-image: url('../img/mail.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 28px;
}

.contact-sotial__item {
    display: inline-block;
    margin-right: 23px;
}

.contact-sotial__item:last-child{
    margin-right: 0;
}

.contact-sotial__link-img {
    margin: 10px;
}